@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Roxale Story';
  src: url('/public/fonts/Roxale\ Story.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roxale Story';
  src: url('/public/fonts/Roxale Story Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roxale Story Calligraphy';
  src: url('/public/fonts/Roxale Story Calligraphy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}